<div class="container">


<%=user.org%>
org/customer/CompanyName/asc/list
<br />
/org/user/user_email/asc/list

    <ul>
        <li><a href="/upload-pictures">Upload Pictures.</a></li>
        <li><a href="/view-pictures">View Pictures.</a></li>
        <li><a href="/customers">Customers Form Example.  Add-Edit-Delete</a></li>
        <li><a href="/register">Register.</a></li>
        <li><a href="/login">Login.</a></li>

    </ul>

    <ul>
        <li><a href="/org/customer/CompanyName/desc/list">View all customers in json</a></li>



  <li><a href="/admin/alltables">View all tables in northwind db.</a></li>
  <li><a href="/admin/org/Customers/file">Generate HTML from database table</a></li>
  <li><a href="/org/user/user_email/asc/list">View all users</a></li>


</ul>



</div> <!-- /container -->