
<script>
$(function() {
    $("#dtToday").html(getFormattedDate(new Date()));
});

function getFormattedDate(date) {
    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear().toString();
    return year + '' + month + '' + day;
}
</script>

<div class="container">
    <div id="errorWrapper" style="display:none;">
        <%-error%>
    </div>

    <div class="table-responsive">
        <div class="jumbotron">
            <h1>Welcome to EIS Software</h1>
            <p>Erickson Information Systems Software offers forms based web application solutions for your business.  Contact us now at 250-483-5875 for a free consultation.</p>
        </div>

        <div id="row">
            <div class="col-lg-4">
                <h2>Web Applications</h2>
                <p>Forms based web application development including reports are our specialty. Ask about our proprietary real-time multi-user data entry forms solutions.</p>
                <p><a id="webdetails" class="btn btn-primary" href="/webdetails" role="button">View details »</a></p>
            </div>
            <div class="col-lg-4">
                <h2>API interfaces</h2>
                <p>Application Programming Interfaces allow your data to be accessed from various sources, whether they be your mobile phone, web browser, or desktop application. </p>
                <p><a id="apidetails" class="btn btn-primary" href="/apidetails" role="button">View details »</a></p>
            </div>
            <div class="col-lg-4">
                <h2>Mobile Apps</h2>
                <p>In today's globally interconnected world having access to your data while your on the go is mandatory.  Call for a quote on how to integrate mobile data solutions for your expanding business.</p>
                <p><a id="mobiledetails" class="btn btn-primary" href="/mobiledetails" role="button">View details »</a></p>
            </div>
        </div>

        </br></br></br>

        <footer class="footer">
            <p>© 2016 EIS Software, Inc. <div id="dtToday"></div></p>
        </footer>

    </div>
</div> <!-- /container -->

<%-js%>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="js/plugins/jquery-popover/jquery.cf.popover.min.js"></script>
    <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/validate.js"></script>
    


      <!-- Add mousewheel plugin (this is optional) -->
      <!--
      <script type="text/javascript" src="/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
      -->
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="/js/jquery.browser.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
  
    <script type="text/javascript">
      $(document).ready(function() {   
        $('.fancybox').fancybox();
        $(":input").bind('keypress', function(e){
          var id = $(this).attr('id');
          console.log(id);
          var code = (e.keyCode ? e.keyCode : e.which);
           if(code == 13) { //Enter keycode
             //Do something
             console.log('enter key' + id);
             var form_json = $("form:first").serializeArray();
             form_json.currentid = id;
             console.log(form_json);
           }
        })
      });
    </script>



