
<style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  </style>
  <script>
  $(function() {
    //$( "#sortable" ).sortable();
    //$( "#sortable" ).disableSelection();
    
  });
  </script>

  <script>

function FocusElement (id)
{
  $('#' + id).focus();
}


$( document ).ready(function() {
    var text = '';
    var year = 1971;
    for (var i = 0; i < 45; i++) { 
        text +=  '<th class="well title" colspan="100%"><td colspan="100%">' + year + '</td></tr>\r\n';
        ++year;
    }
    text += "";
    //$("#generatedcode").html(text);
    //alert(text);
  
});


  </script>
<style>
.title {
    background-color:#00cc99;


}

.event {
    background-color: #3399ff;
}
</style>


<div class="container">
      <div id="errorWrapper" style="display:none;">
          <%-error%> 
      </div>

      <pre id="generatedcode"></pre>


      <div class="table-responsive">
        <table class="table table-bordered table-striped">
      <tr class="well title" colspan="100%"><td colspan="100%">1971 (0)</td></tr>
      <tr class="well event">
          <td class="col-md-3">Edmonton.</td>
      </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1972 (0)</td></tr>
      <tr class="well event">
          <td class="col-md-3">Edmonton.</td>
      </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1973 (1)</td></tr>
      <tr class="well event">
          <td class="col-md-3">Edmonton.</td>
      </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1974 (2)</td></tr>
      <tr class="well event">
          <td class="col-md-3">Indonesia.</td>
      </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1975 (3)</td></tr>
      <tr class="well event">
          <td class="col-md-3">Indonesia.  Chickens.  Goats.  The Ditch.</td>
      </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1976 (4) preschool</td></tr>
            <tr class="well event">
                <td class="col-md-3">Indonesia.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1977 (5) kindergarten</td></tr>
            <tr class="well event">
                <td class="col-md-3">Cairo.  Gunther hit his head.  Alex Baca had a cast.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1978 (6) 1st</td></tr>
            <tr class="well event">
                <td class="col-md-3">Cairo.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1979 (7) 2nd</td></tr>
            <tr class="well event">
                <td class="col-md-3">Cairo.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1980 (8) 3rd</td></tr>
            <tr class="well event">
                <td class="col-md-3">Houston.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1981 (9) 4th</td></tr>
            <tr class="well event">
                <td class="col-md-3">Houston.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1982 (10) 5th</td></tr>
            <tr class="well event">
                <td class="col-md-3">Houston.  Semple</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1983 (11) 6th</td></tr>
            <tr class="well event">
                <td class="col-md-3">London.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1984 (12) 7th</td></tr>
            <tr class="well event">
                <td class="col-md-3">London.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1985 (13) 8th</td></tr>
            <tr class="well event">
                <td class="col-md-3">London.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1986 (14) 9th</td></tr>
            <tr class="well event">
                <td class="col-md-3">London.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1987 (15) 10th</td></tr>
            <tr class="well event">
                <td class="col-md-3">Cairo.</td>
            </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1988 (16) 11th</td></tr>
<tr class="well event">
        <td class="col-md-3">Norway.</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1989 (17) 12th</td></tr>
<tr class="well event">
        <td class="col-md-3">Graduate Highschool.  Norway</td>
        <td class="col-md-3">September Langara.</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1990 (18)</td></tr>
<tr class="well event">
        <td class="col-md-3">Langara/  Start Olaf.</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1991 (19)</td></tr>
<tr class="well event">
        <td class="col-md-3">Olaf.</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1992 (20)</td></tr>
<tr class="well event">
        <td class="col-md-3">Olaf.  Met Karin.</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1993 (21)</td></tr>
<tr class="well event">
        <td class="col-md-3">Olaf.</td>
        <td class="col-md-3">Grandpa dies.</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1994 (22)</td></tr>
<tr class="well event">
        <td class="col-md-3">Graduate.  Olaf.</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1995 (23)</td></tr>
<tr class="well event">
        <td class="col-md-3">Calgary.  Bob's Create-A-Frame</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1996 (24)</td></tr>
<tr class="well event">
        <td class="col-md-3">Calgary.  Bob's Create-A-Frame</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">1997 (25)</td></tr>
<tr class="well event">
    <td class="col-md-3">Wiskey Jack\Sailboat</td>
    </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1998 (26)</td></tr>
<tr class="well event">
    <td class="col-md-3">BCIT</td>
    </tr>
<tr class="well title" colspan="100%"><td colspan="100%">1999 (27)</td></tr>
<tr class="well event">
    <td class="col-md-3">BCIT</td>
    </tr>
<tr class="well title" colspan="100%"><td colspan="100%">2000 (28)</td></tr>
<tr class="well event">
    <td class="col-md-3">BCIT</td><td class="col-md-3">Married January 8th, 2000</td><td class="col-md-3">Married July 23rd, 2000 in Sweden</td>
    </tr>
<tr class="well title" colspan="100%"><td colspan="100%">2001 (29)</td></tr>
<tr class="well event">
    <td class="col-md-3">November 3rd, 2001.  Mia Born.</td>
    <td class="col-md-3">I.T.S. Mel Platman</td>

    </tr>
<tr class="well title" colspan="100%"><td colspan="100%">2002 (30)</td></tr>
<tr class="well title" colspan="100%"><td colspan="100%">2003 (31)</td></tr>
<tr class="well title" colspan="100%"><td colspan="100%">2004 (32)</td></tr>
<tr class="well event">
    <td class="col-md-3">July 3rd, 2004.  Oliver Born.</td>
    <td class="col-md-3">Moved to Canada November 2004</td>
    <td class="col-md-3">AXYS November 2004 - January 2005. $45k</td>

    </tr>
<tr class="well title" colspan="100%"><td colspan="100%">2005 (33)</td></tr>
<tr class="well event">
    <td class="col-md-3">CGI.  Start in January 2005. $53k</td>
    </tr>
<tr class="well title" colspan="100%"><td colspan="100%">2006 (34)</td></tr>
<tr class="well event">
    <td class="col-md-3">CGI</td>
    </tr>
<tr class="well title" colspan="100%"><td colspan="100%">2007 (35)</td></tr>
<tr class="well event">
    <td class="col-md-3">November 2007 (Leave CGI for Enkon) - January 2007 - November 2007.  Enkon. $68k</td>

    <td class="col-md-3">November 2007 - Start Job at Number41Media $53k</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">2008 (36)</td></tr>
    <tr class="well event">
        <td class="col-md-3">Number41Media November 2007 - July 2008.</td>

    <td class="col-md-3">July 2008. Start job at UVic $53k.  December 3rd, 2008.  Sylvie Born.</td>
    </tr>

<tr class="well title" colspan="100%"><td colspan="100%">2009 (37)</td></tr>
<tr class="well event">
         <td class="col-md-3">June 2009 Funding for the UVic lab runs out.</td>
        <td class="col-md-3">July 2009.  ChionaTech ($80k) interview in Calgary.  Stayed with Grandma.</td>
        <td class="col-md-3">September 9, 2009.  Dallas, Fort Worth Houston Trip.  Painted Mural.</td>
</tr>

<tr class="well title" colspan="100%"><td colspan="100%">2010 (38)</td></tr>
<tr class="well event">
     <td class="col-md-3">January 26th, 2010.  Denver, Colorado.  Very Cold.</td>
    <td class="col-md-3">December Coffee with Oliver.</td>
</tr>


<tr class="well title" colspan="100%"><td colspan="100%">2011 (39)</td></tr>
<tr class="well event">
        <td class="col-md-3">January 2011 theBlogFrog remote work begins for 3 months.</td>
        <td class="col-md-3">June 7th.  Big Interview at Genologics ($80k)</td>
        <td class="col-md-3">Start Working for Genologics in August 2011 after Faux move to Boulder, Colorado.</td>
        <td class="col-md-3">March 11, 2011.  Grandma dies.</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">2012 (40)</td></tr>
<tr class="well event">
        <td class="col-md-3">April 9th - April 12th, 2012.  Trip to San Francisco to Agilent for training.</td>
        <td class="col-md-3">October 12th, 2012 - October 24th, 2012.  Belize Trip.  Working for Genologics until January 2013.</td>
</tr>

<tr class="well title" colspan="100%"><td colspan="100%">2013 (41)</td></tr>
<tr class="well event">

        <td class="col-md-1">February 22nd 2013 Sierra Systems - SRB Contract until May 2013</td>
        <td class="col-md-1">February Amazon Interview.</td>
        <td class="col-md-3">Helped Kubal from Genologics on projects.  Developed the Location Game.  Property Management Site.  Developed Job Search php tool.</td>
        <td class="col-md-1">July - Moved to Oregon 2013</td>
        <td class="col-md-3">October 31, 2013 - Mountain Waters Spa</td>
        <td class="col-md-3">Working for Titan Coding (September -> ) then SRB ($80k) (October 2013) then Adaptive BioTech</td>
</tr>
<tr class="well title" colspan="100%"><td colspan="100%">2014 (42)</td></tr>
<tr class="well event">
        <td class="col-md-3">Living in Oregon</td><td class="col-md-3">April 2014 Hawaii</td><td class="col-md-3">August 2014 Wisconsin.  Worried about being under investigation.</td>

</tr>


<tr class="well title" colspan="100%"><td colspan="100%">2015 (43)</td></tr>
<tr class="well event">
    <td class="col-md-1">January - March.  Build Chicken Coop.</td>
    <td class="col-md-2">Became Skinny.  March 11th in Oregon.  Saved all receipts.</td>
    <td class="col-md-1">Fired from SRB May 11th</td>
    <td class="col-md-3">October 2015 Learned that my mind could be heard.  Also, learned that the world was watching.</td>

    

    <td class="col-md-3">3 trips to Edmonton to work with Mike.<ul><li>October 25th - November 15th.<li>November 25th - December 18th.</li><li> January 12th - February 3rd 2017.</li></ul></td>
</tr>

<tr class="well title" colspan="100%"><td colspan="100%">2016 (44-45)</td></tr>
<tr class="well event">
    <td class="col-md-3">Saw Dr. Luckhurst about mind reading. May 28th. Referred to Lysak.</td>
    <td class="col-md-3">Learned that the project was multi-generational.  It began before I was even born.  Perhaps, the world is a fiction.  Learned that it IS the world.  Whatever it is.</td>
    

    <td class="col-md-3">Expanded the deck, painted railings, built roof to stop leaks...slowly Learnin' that Life is ok.</td>
    </tr>


</table>
</div>



     
</div> <!-- /container -->

<%-js%>


<!-- Add jQuery library -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="js/plugins/jquery-popover/jquery.cf.popover.min.js"></script>
    <script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/validate.js"></script>
    


      <!-- Add mousewheel plugin (this is optional) -->
      <!--
      <script type="text/javascript" src="/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
      -->
    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript" src="/js/jquery.browser.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
    <script type="text/javascript" src="/js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
  
    <script type="text/javascript">
      $(document).ready(function() {   
        $('.fancybox').fancybox();
        $(":input").bind('keypress', function(e){
          var id = $(this).attr('id');
          console.log(id);
          var code = (e.keyCode ? e.keyCode : e.which);
           if(code == 13) { //Enter keycode
             //Do something
             console.log('enter key' + id);
             var form_json = $("form:first").serializeArray();
             form_json.currentid = id;
             console.log(form_json);
           }
        })
      });
    </script>



