
<script type="javascript/text">
  function FocusElement (id)
  {

  }
</script>




<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });


  $(document).ready(function () {
        var url = "/list/demo/product";
        console.log(url);
        var html = "";

        $.getJSON(url, function(data) {
          var html = "<table class='table'><tr>";
          var cols = 0;
          //process response
          $.each(data, function(i, val){
            var json = {};
            json.path = val.path;
            html += "<td><img height=175 width=175 src='/" + json.path.replace("uploads/","saved-pictures/") + "'></td>";
            ++cols;
            if (cols % 5 == 0) {
                html += "</tr><tr>";
            }
          });
          html += "</tr></table>";
          $("#images").html(html);
      });






  });
</script>

<link href="css/dropzone.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-responsive.css" rel="stylesheet">





<div class="container">
    <div id="errorWrapper" style="display:none;">
        <%-error%>
    </div>
    <div class="content">


        <div>An example of displaying images from uploaded screen.  <a href="/upload-pictures">/upload-pictures</a></div>
        <div id="images"></div>


    </div> <!-- content -->
</div> <!-- /container -->


<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<%-js%>

<script>
  //$("#alert").show();
</script>
<!-- Add mousewheel plugin (this is optional) -->
<!--
<script type="text/javascript" src="/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
-->
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="/js/jquery.browser.js"></script>

<script type="text/javascript">

      $(document).ready(function() {

      });
    </script>











